<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="shortcut icon" href="static/images/favicon.png" type="image/icon"> <link rel="icon" href="static/images/favicon.png" type="image/icon">
    {% block child_style %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
