{% extends "layout.html" %}

{% block child_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
{% endblock %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="large-box">
    {% include 'navbar.html' %}
    <div class="pure-g">
        <div class="pure-u-1-2">
            <img src="static/images/smart-alerts-text.png" alt="image">
        </div>

        <div class="pure-u-1-2">
            {% block placement %}
            <div class="align-middle-vertical align-middle-horizontal">
            {% endblock %}
                <h3 class="is-center is-header">{% block header %}Log In{% endblock %}</h3>
                <p class="error">{{ error }}</p>
                <form method="post" accept-charset="utf-8" class="pure-form pure-form-stacked">
                    <fieldset>
                        {% block userinput %}
                        <input class="pure-u-1-1 extra-space" type="text" name="username" placeholder="username">
                        {% endblock %}

                        <input class="pure-u-1-1 extra-space" type="password" name="password" placeholder="password">
                        {% block inputs %}
                        {% endblock %}


                        <button type="submit" class="pure-button pure-button-primary pure-u-1-1">Submit</button>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
