<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">MTA Smart Alerts</a>

        <ul id="std-menu-items">
            {% if loggedIn %}
                <li><a href="#">{{ username }}</a></li>
                <li><a href="/manage_account">Manage Account</a></li>
                <li><a href="/logout">Logout</a></li>
            {% else %}
                <li><a href="/login">Log in</a></li>
                <li><a href="/register">Sign Up</a></li>
            {% endif %}
        </ul>
    </div>
</div>
