{% extends "layout.html" %}

{% block child_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
{% endblock %}

{% block title %}Subway Service Status{% endblock %}

{% block body %}
<div class="large-box">
    {% include 'navbar.html' %}
    <div class="pure-g">
        <div class="pure-u-1-1">
            <div class="align-middle-horizontal">
                <h3 class="is-center is-header">{% block header %}Delays{% endblock %}</h3>
                {% if service.has_delays() %}
                <p>As of {{ service.retrieved_at }},</p>
                  {% for key, value in colors.iteritems() %}
                    {% if value|length > 0 %}
                        <div class="left-float">
                        {% for line in value %}
                            <div class={{key}}>{{line}}</div>
                        {% endfor %}
                        </div>
                    {% endif %}
                  {% endfor %}
                {% else %}
                    <p>There are no delays</p>
                {% endif %}
                <h3 class="is-center is-header">Normal Service</h3>
                {% for key, value in running.iteritems() %}
                {% if value|length > 0 %}
                    <div class="left-float">
                    {% for line in value %}
                        <div class={{key}}>{{line}}</div>
                    {% endfor %}
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
