body {
    background: #fff;
}

.pure-form-stacked input[type=text], .pure-form-stacked input[type=password], .pure-form-stacked input[type=email], .pure-form-stacked input[type=url], .pure-form-stacked input[type=date], .pure-form-stacked input[type=month], .pure-form-stacked input[type=time], .pure-form-stacked input[type=datetime], .pure-form-stacked input[type=datetime-local], .pure-form-stacked input[type=week], .pure-form-stacked input[type=number], .pure-form-stacked input[type=search], .pure-form-stacked input[type=tel], .pure-form-stacked input[type=color], .pure-form-stacked select, .pure-form-stacked label, .pure-form-stacked textarea {
    display: block;
    margin: .25em 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pure-menu-heading {
    font-family: 'Nunito', sans-serif;
}

.is-header {
    text-transform: uppercase;
    color: #454545;
    border-bottom: 1px solid #888888;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.is-center {
    text-align: center;
}

.align-middle-horizontal {
    margin: 0 auto;
}

.align-middle-vertical {
    margin-top: 30%;
}

.large-box {
    margin: 0 auto;
    margin-top: 5%;
    width: 900px;
}

.error {
    margin-bottom: 0px;
    color: red;
}

.red {
    float: left;
    width: 100px;
    height: 100px;
    background: #ee352e;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    line-height: 100px;
}

.blue {
    float: left;
    width: 100px;
    height: 100px;
    background: #2850ad;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    line-height: 100px;
}

.orange {
    float: left;
    width: 100px;
    height: 100px;
    background: #f66319;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    line-height: 100px;
}

.brown {
    float: left;
    width: 100px;
    height: 100px;
    background: #996633;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    line-height: 100px;
}

.grey {
    float: left;
    width: 100px;
    height: 100px;
    background: grey;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    line-height: 100px;
}

.gtrain {
    float: left;
    width: 100px;
    height: 100px;
    background: green;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    line-height: 100px;
}

.purple {
    float: left;
    width: 100px;
    height: 100px;
    background: #b933ad;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    line-height: 100px;
}

.green {
    float: left;
    width: 100px;
    height: 100px;
    background: #00933c;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    line-height: 100px;
}

.yellow {
    float: left;
    width: 100px;
    height: 100px;
    background: #fccc0a;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    line-height: 100px;
}

.color {
    float: left;
    width: 100px;
    height: 100px;
    background: grey;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    line-height: 100px;
}

.left-float {
    float: left;
    width: 100px;
}
